.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  background-color: #BFA6CC;
  /* height: 100%;; */
}

body {
  margin: 0;
  padding: 60px;
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #774B8E;
  text-align: center;
  line-height: 1.5;
  background-color: #BFA6CC;
}
.goSearchBtn{
	font-size: 1.5em;
  border: 3px solid #9875AA;
	border-radius: 25px;
}
.goSearchBtn:hover {
    background-color: #3f2c30;
    border: 3px solid #dfd9d9;
    color: #FDD835;
    cursor: pointer;
  } 
  button{
    font-size: 1.5em;
    border: 3px solid #9875AA;
    border-radius: 25px;
  }
  button:hover {
      background-color: #3f2c30;
      border: 3px solid #dfd9d9;
      color: #FDD835;
      cursor: pointer;
    } 

/* nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
} */

footer {
  background-color: #BFA6CC;
}

header {
  padding: 12% 0;
  background-color: #BFA6CC;
}

section {
  /* min-height: 200px; */
  margin: 0, auto;
  padding: 6% 0;
  background-color: #BFA6CC
}

section:nth-child(even) {
/* min-height: 10rem; */
background-color: #BFA6CC;
}





